@import "public";
.cartlist{
  width:1000px;
  margin:0 auto;

  span{
    display: inline-block;
    text-align: center;
  }


  .head{
    height: 34px;
    line-height: 34px;
    border: 1px solid #ead7b0;
    border-top-color: #edaf31;
    padding-left: 27px;
    background: #fffbf3;



    .all-select{
      margin-right: 7px;
      margin-top: 10px;
      float: left;
    }

    .all-select-word{
      width: 441px;
      text-align: left;
      display: inline-block;
    }

    .price{
      width: 130px;
    }

    .num{
      width: 158px;
    }

    .count{
      width: 88px;
    }

    .operate{
      width: 92px;
    }
  }

  .body{
    border: 1px solid #e3e3e3;
    border-top: 0;
    overflow: hidden;
    padding-bottom: 20px;

    dl{
      padding-left: 27px;

      dd table{
        border-collapse: collapse;
        border: 1px solid #e3e3e3;
        width: 100%;
        background-color: #fcfcfa;

        tbody img{
          width:75px;
          height:75px;
        }

        td{
          border-bottom: 1px solid #e3e3e3;
          text-align: center;
        }

        .td3{
          text-align: left;
          width:170px;
        }

        .td5{

          span{
            border: 1px solid #cecece;
            width: 23px;
            height: 22px;
            display: inline-block;
            float: left;
            background: #f4f4f4 url("../../resource/imgs/vvtwospt.png") no-repeat;
            cursor: pointer;
          }
          .prev{
            border-right: 0;
            background-position: -228px -113px;
          }
          .next{
            border-left: none;
            background-position: -228px -131px;
          }
          .buy-num{
            width: 38px;
            height: 22px;
            border: 1px solid #cecece;
            border-left-color: #e3e3e3;
            border-right-color: #e3e3e3;
            float: left;
            color: #999;
            line-height: 22px;
            text-align: center;
            overflow: hidden;
          }
        }

        .last{
          a{
            width:106px;
            display: inline-block;
          }
        }

        tfoot{
          table-layout: fixed;
          width: 300px;
          font-size: 14px;
          height: 44px;
          padding-left: 10px;
          line-height: 44px;
          text-align: left;
          background: none repeat scroll 0 0 #f3f3f3;

          .cart-totle{
            height: 44px;
            line-height: 44px;
            background: #f3f3f3;
            font-size: 14px;
            padding-right: 20px;
            font-family: "\5B8B\4F5";

            span{
              display: inline-block;
              float: left;
              margin-left: 20px;
            }

            .msyh{
              font-family: microsoft yahei,simhei;
            }
          }
        }

      }

      dt{
        padding-top: 7px;
        height: 28px;
        line-height: 28px;
        position: relative;
        padding-left: 20px;

        b{
          position: absolute;
          left: 0;
          top: 10px;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }


      }
    }


  }
}

.product{
  float:left;
  width: 146px;
  display: inline;
  position: relative;
  height: 237px;
  padding: 0 5px;

  .proimg{
    width: 144px;
    height: 144px;
    border: 1px solid #e3e3e3;
    overflow: hidden;

    img{
      width: 144px;
    }
  }

  p{
    padding: 0 3px;
    color: #999;
    width: 146px;
    //line-height: 18px;
   // margin-top: 5px;
   // height: 36px;
    overflow: hidden;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
  }

  h4{
    color: #f9833c;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
  }

  input{
    width: 106px;
    height: 23px;
    background: url("../../resource/imgs/oversea.png") no-repeat 0 -35px;
    cursor: pointer;
    border:none;
  }

  input:focus{
    outline: none;
  }
}


