@charset "UTF-8";
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
}

body {
  font: 12px "瀹嬩綋","Arial Narrow",HELVETICA;
  background: #fff;
}

a {
  color: #172c45;
  text-decoration: none;
}

a:hover {
  color: #f00;
  text-decoration: none;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
}

.ind {
  text-indent: 2em;
}

.ind10 {
  text-indent: 10px;
}

.noborder {
  border: 0;
}

.cart-container .cart {
  width: 1000px;
  margin: 0 auto;
}
.cart-container .cart-head {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #e4e5e6;
  line-height: 30px;
}
.cart-container .cart-head .cart-shortcut li {
  float: left;
}
.cart-container .cart-head .cart-shortcut .vip-left {
  float: left;
}
.cart-container .cart-head .cart-shortcut .vip-left a {
  color: #f00180;
}
.cart-container .cart-head .cart-shortcut .vip-right {
  float: right;
  position: relative;
}
.cart-container .cart-head .cart-shortcut .vip-right ul {
  margin-right: -6px;
}
.cart-container .cart-head .cart-shortcut .vip-right ul a {
  padding: 0 10px 0 6px;
  color: #666;
}
.cart-container .cart-head .cart-shortcut .vip-right ul .weixin a b {
  width: 5px;
  height: 3px;
  display: inline-block;
  background: url("../../resource/imgs/vvtwospt.png") no-repeat -234px -89px;
  margin-left: 2px;
  overflow: hidden;
  padding-bottom: 1px;
}
.cart-container .cart-head .cart-shortcut .vip-right ul .weixin .weixin-list {
  position: absolute;
  padding: 8px 0;
  border: 1px solid #cdcdcd;
  background: #f9f7fa;
  right: -60px;
  display: none;
  top: 30px;
  z-index: 11;
}
.cart-container .cart-head .cart-shortcut .vip-right ul .weixin .weixin-list dl {
  width: 135px;
  text-align: center;
  color: #666;
}
.cart-container .cart-logo {
  position: relative;
  height: 90px;
}
.cart-container .cart-logo h1 a {
  position: absolute;
  left: 0;
  top: 20px;
  width: 265px;
  height: 75px;
  background: url("../../resource/imgs/cartlogo.png") no-repeat;
  text-indent: -999px;
}
.cart-container .cart-logo p {
  position: absolute;
  right: 0;
  top: 40px;
  width: 544px;
  height: 35px;
  background: url("../../resource/imgs/vvtwospt.png") no-repeat 0 0;
}
.cart-container .cart-time {
  padding-top: 10px;
  overflow: hidden;
}
.cart-container .cart-time div {
  padding-top: 5px;
  overflow: hidden;
}
.cart-container .cart-time .left {
  float: left;
}
.cart-container .cart-time .left .spancart {
  background: url("../../resource/imgs/vvtwospt.png") no-repeat -118px -196px;
  width: 25px;
  height: 25px;
  float: left;
}
.cart-container .cart-time .left .mycarter {
  line-height: 25px;
  font-size: 18px;
  color: #666;
  margin-left: 5px;
  height: 25px;
  font-weight: bold;
}
.cart-container .cart-time .right {
  float: right;
}
.cart-container .cart-time .right ul {
  margin-right: -16px;
}
.cart-container .cart-time .right ul li {
  float: left;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  margin-right: 18px;
  display: inline;
}
.cart-container .cart-time .right ul li span {
  float: left;
  line-height: 24px;
  font-weight: bold;
  color: #666;
}
.cart-container .cart-time .right ul small {
  float: left;
  width: 24px;
  height: 24px;
  background: url("http://p0.qinqinbaby.com/Resource/Images/my/blueicon2.png") no-repeat;
  margin-right: 6px;
}
.cart-container .cart-time .right ul .zp {
  background-position: top center;
}
.cart-container .cart-time .right ul .sv {
  background-position: center center;
}
.cart-container .cart-time .right ul .sd {
  background-position: bottom center;
}
.cart-container .cartmsg {
  border: 1px solid #e3e3e3;
  padding: 21px 0 0 0;
  width: 998px;
  margin-bottom: 20px;
}
.cart-container .cartmsg .coupon {
  padding: 0 20px;
}
.cart-container .cartmsg .coupon .use-coupon {
  display: inline-block;
}
.cart-container .cartmsg .coupon .use-coupon a {
  border: 1px solid #ee6a1a;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px 6px;
  font-weight: bold;
  padding-left: 30px;
  display: inline-block;
  color: #ee6a1a;
}
.cart-container .cartmsg .coupon .use-coupon a i {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px dashed #fff;
  border-left: 4px solid #ee6a1a;
  position: absolute;
  margin-left: -15px;
  margin-top: 4px;
  border-right: 0;
}
.cart-container .cartmsg .coupon .coupon-msg a {
  margin-left: 10px;
  display: inline-block;
  font: 12px/20px "\5B8B\4F53";
  color: #3790db;
}
.cart-container .cartmsg .countcart {
  position: relative;
  overflow: hidden;
}
.cart-container .cartmsg .countcart .countcart_txt {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #F00;
  line-height: 24px;
  font-size: 12px;
  text-align: left;
}
.cart-container .cartmsg .countcart ul {
  float: right;
  padding-right: 18px;
  padding-bottom: 27px;
}
.cart-container .cartmsg .countcart ul li {
  float: left;
}
.cart-container .cartmsg .countcart ul li span {
  display: block;
}
.cart-container .cartmsg .countcart ul .lil {
  text-align: right;
  padding-right: 10px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}
.cart-container .cartmsg .countcart ul .lil2 {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 8px;
}
.cart-container .cartmsg .countcart ul .lir {
  text-align: right;
  color: #fd8d08;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.cart-container .cartmsg .countcart ul .lir1 {
  padding-right: 3px;
  width: 80px;
}
.cart-container .cartmsg .countcart ul .lir2 {
  padding-right: 3px;
  width: 80px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 8px;
}
.cart-container .cartmsg .sub {
  height: 55px;
  border-top: 1px solid #e3e3e3;
  background: #fffbf3;
  padding-left: 27px;
  padding-bottom: 3px;
}
.cart-container .cartmsg .sub a {
  float: left;
  padding-top: 7px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  color: #ee6a1a;
}
.cart-container .cartmsg .sub .submin {
  float: right;
  padding-top: 5px;
  padding-right: 18px;
}
.cart-container .cartmsg .sub .submin p.gouwucar {
  float: left;
  height: 50px;
  line-height: 50px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: "\5B8B\4F53";
}
.cart-container .cartmsg .sub .submin p.gouwucar span {
  padding: 0 4px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-size: 28px;
}
.cart-container .cartmsg .sub .submin input {
  cursor: pointer;
  float: left;
  margin-top: 2px;
  width: 130px;
  height: 40px;
  background: url("../../resource/imgs/vvtwospt.png") no-repeat -285px -139px;
  border: 0;
}
.cart-container .cart-noprod {
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #edaf31;
  padding-top: 64px;
  padding-bottom: 65px;
}
.cart-container .cart-noprod .noprod-main {
  width: 375px;
  height: 85px;
  padding: 55px 0 0 225px;
  margin: 0 auto;
  background: url("../../resource/imgs/gocarbg.png") no-repeat 6px 0;
}
.cart-container .cart-noprod .noprod-main h2 {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.cart-container .cart-noprod .noprod-main p {
  height: 30px;
  line-height: 30px;
  padding-bottom: 1px;
}
.cart-container .cart-noprod .noprod-main p span {
  color: #787878;
}
.cart-container .cart-noprod .noprod-main p a {
  padding: 0 5px;
  color: #ee6a1a;
}
.cart-container .cart-noprod .noprod-main p .line {
  padding: 0 2px;
}
.cart-container .cart-noprod .noprod-main .noprod-search {
  height: 20px;
}
.cart-container .cart-noprod .noprod-main .noprod-search .txt {
  height: 18px;
  overflow: hidden;
  line-height: 18px;
  border: 1px solid #d9d9d9;
  width: 154px;
  font-size: 12px;
  text-indent: 3px;
  color: #a8a8a8;
}
.cart-container .cart-noprod .noprod-main .noprod-search input {
  float: left;
}
.cart-container .cart-noprod .noprod-main .noprod-search .sub {
  height: 20px;
  width: 46px;
  background: url("../../resource/imgs/gocarbg.png") no-repeat -12px -142px;
  margin-left: 9px;
  cursor: pointer;
}
.cart-container .more-product h2 {
  position: relative;
  padding-left: 40px;
  padding-top: 10px;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  color: #333;
}
.cart-container .more-product h2 b {
  width: 23px;
  height: 21px;
  background: url("../../resource/imgs/oversea.png") no-repeat -19px -5px;
  position: absolute;
  left: 10px;
  top: 19px;
}
.cart-container .sliderbox {
  width: 998px;
  height: 278px;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ececec;
}
.cart-container .sliderbox .arrow-btn {
  display: inline;
  width: 30px;
  height: 100%;
  position: relative;
  float: left;
}
.cart-container .sliderbox .arrow-btn span {
  background-image: url("../../resource/imgs/oversea.png");
  background-repeat: no-repeat;
  cursor: pointer;
  width: 11px;
  height: 23px;
  position: absolute;
}
.cart-container .sliderbox .btn-left span {
  background-position: -56px -5px;
  left: 10px;
  top: 85px;
}
.cart-container .sliderbox .btn-right span {
  background-position: -78px -5px;
  right: 10px;
  top: 85px;
}
.cart-container .sliderbox .slider-box {
  width: 937px;
  overflow: hidden;
  position: relative;
  height: 237px;
  float: left;
  margin-top: 19px;
}
.cart-container .sliderbox .slider-box .slider {
  width: 937px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 237px;
}
